{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "G1": true
  },
  "rules": {
    "indent": ["error", 4],
    "semi": ["error", "always"],
    "no-undef": warn,
    "quotes": ["warn", "single"],
    "no-eval": "error",
    "import/no-unresolved": warn,
    "import/extensions": warn,
    "import/prefer-default-export": 0
  }   
}
