$bg-normal: rgb(247,247,247); //f7f7f7

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: $bg-normal;
}

.img1 {
    width: 100px;
    height: 100px;
    background: url(../img/pp.png) no-repeat;
    background-size: contain;
}
.img2 {
    width: 100px;
    height: 100px;
    background: url(../img/tt.jpg) no-repeat;
    background-size: contain;
}

.flex1 {
    display: flex;
    flex-direction: column;
    transition: all 2s ease;
}
.line {
    @include line;
}
